.container, .container-01, .container-02, .container-03, .container-04, .container-05, .container-06, .container-07 {
    background: yellow;
    padding: 10px;
    margin-bottom: 20px;

    display: grid; 
}

.container {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 200px;
}

.container-01 {
    height: 400px;

    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.container-02 {
    height: 400px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container-03 {
    height: 500px;

    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(2, 1fr);
}

.container-04 {
    height: 500px;

    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 1fr);
}

.container-05 {
    height: 500px;

    grid-template-columns: min-content min-content;
}

.container-06 {
    height: 500px;

    grid-template-columns: max-content max-content;
}

.container-07 {
    height: 500px;

    grid-template-columns: repeat(3, auto);
}

.item {
    border: 1px solid black;
}

.item-01 {
    background-color: palevioletred;
}
.item-02 {
    background-color: cornflowerblue;
}
.item-03 {
    background-color: palegreen;
}
.item-04 {
    background-color: orange;
}
.item-05 {
    background-color: cadetblue;
}
.item-06 {
    background-color: aqua;
}

code {
    color: black;
}