.container {
    border: 2px solid;
    display: grid;

    grid-template-columns: [primeira-linha-col] 1fr [segunda-linha-col] 1fr     [terceira-linha-col] 1fr [quarta-linha-col];
    grid-template-rows:  [linha-inicio] 100px [linha-meio] 100px [linha-fim];
}

.item {
    text-align: center;
    background-color: deeppink;
}

.selected {
    background-color: aqua;

    grid-area: linha-meio / segunda-linha-col / linha-fim / terceira-linha-col;
}

/*grid-area: <grid-row-start>/<grid-column-start>/<grid-row-end>/<grid-column-end>*/