.container {
    border: 2px solid;

    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr repeat(2,1fr);
    grid-template-rows: 50px 100px 200px;
}

.item {
    text-align: center;
    background-color: orange;

    grid-column-start: 2;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;
}

.item-b {
    text-align: center;
    background-color: deepskyblue;

    /*grid-column-start: 1;
    grid-column-end: span 3;*/

    grid-column: 1 / span 3;

    /*grid-row-start: 2;
    grid-row-end: span 2;*/

    grid-row: 2 / span 2;
}

.container-2 {
    border: 2px solid;
    display: grid;

    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows:  repeat(3, 100px);
}

.item-2 {
    text-align: center;
    background-color: dodgerblue;
}

.selected {
    background-color: blueviolet !important;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.container-3 {
    border: 2px solid;
    display: grid;

    grid-template-columns: [primeira-linha-col] 1fr [segunda-linha-col] 1fr [terceira-linha-col] 1fr [quarta-linha-col];
    grid-template-rows:  [linha-inicio] 100px [linha-meio] 100px [linha-fim];
}

.item-3 {
    text-align: center;
    background-color: dodgerblue;
}

.selected-3 {
    background-color: blueviolet !important;
    grid-column: segunda-linha-col / terceira-linha-col;
    grid-row: linha-meio / linha-fim;
}