code {
    color: black;
}
.container {
    padding: 10px;
    background-color: palegoldenrod;
    border: 2px solid;
    display: grid;
    
}

.item {
    text-align: center;
    border: 1px solid black;
    background-color: palegreen;
}

.grid-01 {
    grid: 100px 300px / 3fr 1fr;
}

.grid-02 {
    grid: auto-flow / 200px 1fr;
}

.grid-03 {
    grid: auto-flow dense 100px / 1fr 2fr;
}

.grid-04 {
    grid: 100px 300px / auto-flow 200px;
}