body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 247, 247);    
}
code {
    background-color: lightgray;
}

.conteiner {
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 300px;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    position: absolute;
    background: linear-gradient(90deg, #FC466B 0%, #DAAE51 100%);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;

    transform: rotateY(10deg);
    backface-visibility: visible;
}