body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 247, 247);    
}
code {
    background-color: lightgray;
}

.conteiner {
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 150px;
    perspective-origin: top;
    transform-style: preserve-3d;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    position: absolute;
}

.box:nth-child(1) {
    background: linear-gradient(90deg, #FC466B 0%, #DAAE51 100%);
    transform: rotateY(40deg);
}
.box:nth-child(2) {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    transform: rotateY(-40deg);
}