body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 247, 247);    
}
code {
    background-color: lightgray;
}

.conteiner {
    margin: 0;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.box {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: 2s;
}

.box:nth-child(1) {
    transform-origin: left top;
}
.box.box:nth-child(1):hover {
    transform: rotate(20deg);
}

.box:nth-child(2) {
    transform-origin: 0 0;
}
.box:nth-child(2):hover {
    transform: scale(1.7);
}