body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightblue;
    padding: 60px;
    text-align: center;
}

header h2 {
    font-size: 1rem;
    font-weight: normal;
}

main {
    padding: 30px;
    text-align: center;
    max-width: 1440px;
    margin: auto;
}

h3 {
    text-transform: uppercase;
}

.details {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background-color: lightblue;
    padding: 16px;
    border-radius: 4px;
}

.image-card {
    background-color: lightblue;
    border: 1px solid #e2e2e2;
    padding: 10px;
    flex-basis: 200px;
}

.image-card img {
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

@media screen and (max-width: 690px) {
    .card {
        color: lightblue;
        background-color: black;
    }
    .details {
        flex-direction: column;
    }

    .image-card {
        flex-basis: 100px;
    }
}

@media screen and (orientation: portrait) {
    header {
        background-color: lightgreen;
    }
}

@media screen and (pointer: coarse) {
    header {
        color: cornflowerblue;
    }
}

@media screen and (min-width: 600px),
screen and (orientation: landscape){
    .gallery{
        padding: 10px;
        background-color: paleturquoise;
    }
}


/*@media not all and (orientation: landscape) {
    .details {
        background-color: palegreen;
    }
}*/