body {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav li {
    background-color: lightgreen;
    padding: 20px;
    border-radius: 4px;
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#skills {
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 4px;
}

#skills li {
    list-style: decimal;
}

#education {
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 4px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 720px) {
    main {
        flex-direction: row;
        gap: 24px;
        max-width: 1200px;
        margin: 16px auto;
        flex-wrap: wrap;
    }

    #presentation {
        flex-basis: 500px;
    }

    #skills, #education {
        flex: 1;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        flex: 1;
        text-align: center;
    }
}