@font-face {
	font-family: Roboto;
	src: local(), url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto-title;
	src: local(), url("../fonts/Roboto-bold.ttf");
}

@font-face {
	font-family: Roboto;
	src: local(), url("../fonts/Roboto-Thin.ttf");
	font-weight: lighter;
}

h1 {
	font-family: Roboto-title;
}

p {
	font-family: Roboto;
}

li {
	font-family: Roboto;
	font-weight: lighter;
}