* {
	box-sizing: border-box;
}

#serif {
	font-family: sans-serif;
}
#monospace {
	font-family: monospace;
}
#cursive {
	font-family: cursive;
}
#fantasy {
	font-family: fantasy;
}

#Fallbacks {
	font-family: 'Times New Roman', sans-serif, Arial;
}