code {
font-weight: bolder;
font-size: 1.2rem;
color: red;
}

div {
margin: 10px 0 30px;
}

.exemplo {
width: 300px;
height: 300px;
border: 15px dashed black;
padding: 30px;
color: black;
font-size: 80px;
font-weight: 900;

/* background do site: https://projects.verou.me/css3patterns/ */
background-color: silver;
background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
linear-gradient(155deg, #d00 23px, transparent 23px),
linear-gradient(335deg, #b00 23px, transparent 23px),
linear-gradient(155deg, #d00 23px, transparent 23px);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

#padding-box {
    background-clip: padding-box;
}

#border-box {
    background-clip: border-box;
}

#content-box {
    background-clip: content-box;
}

#text {
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}