code {
    font-weight: bolder;
    font-size: 1.2rem;
    color: red;
    }
    
    div {
    margin: 10px 0 30px;
    }
    
    .exemplo {
    width: 300px;
    height: 300px;
    border: 15px dashed black;
    padding: 30px;
    color: white;
    font-size: 80px;
    font-weight: 900;
    background-color: orange;
    background-image: url(../images/background-00.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#normal {
    background-blend-mode: normal;
}

#multiply {
    background-blend-mode: multiply;
}

#screen {
    background-blend-mode: screen;
}

#overlay {
    background-blend-mode: overlay;
}

#difference {
    background-blend-mode: difference;
}