code {
    font-weight: bolder;
    font-size: 0.8rem;
 }

 .exemplo {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: url(../images/logo.svg), url(../images/background-00.jpg);
}

#cover {
    background-size: cover;
}

#contain {
    background-size: contain;
}

#tamanho {
    background-size: 50%;
}

#exemplo-x-y {
    background-size: 200px 100%;
}

#exemplo-camadas {
    background-size: 100px 100%, cover;
}