@import url();

code {
   font-weight: bolder;
   font-size: 0.8rem;
}

h2 {
    margin-top: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: palevioletred;
}
.exemplo-01 {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: url(../images/background-01.jpg);
}

.exemplo-02 {
    width: 500px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: linear-gradient(lightpink, lightcoral, purple); /* Pode colocar mais de duas cores e o efeito é personalizavel*/
}

.exemplo-03 {
    width: 500px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: radial-gradient(lightpink, lightcoral, purple);
}

.exemplo-04 {
    width: 700px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: repeating-linear-gradient(to top, palevioletred 0 20px, lightpink 20px 40px);
}

.exemplo-05 {
    width: 700px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: repeating-radial-gradient(lightblue 0 20px, royalblue 20px 40px);
}

.exemplo-06 {
    width: 700px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.exemplo-07 {
    width: 700px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: url(../images/logo.svg), url(../images/background-03.jpg);
}