@import url(./global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /*10px*/
}

body {
    position: relative;
    background-color: #F9F9F9;
    margin: 0 auto;
	font-size: 1.6rem; /*16px*/
}

/* CSS Header */
.menu {
	width: 100vw;
	height: 5.6rem; /*56px*/
	padding: 0 3.4rem; /*24px*/
	gap: 3.2rem; /*32px*/

	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #FFFFFF;
}

.menu-left {
	width: 18.6rem; /*186px*/
	height: 2.4rem; /*24px*/
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-left sup {
	font-family: 'Roboto';
	color: #5e5d5d;

	position: relative;
	top: -0.8rem; /*8px*/
	left: -2.5rem; /*-25px*/
}

.menu-center {
	width: 65.4rem; /*654px*/
	height: 4rem; /*40px*/

	display: flex;
	align-items: center;

	border-radius: 2rem; /*20px*/
}

.menu-center input {
	width: 64.8rem; /*348px*/
	height: 4rem; /*40px*/
	font-size: 1.8rem; /*20px*/
	padding-left: 2rem; /*20px*/
	
	color: #5e5d5d;
	border: 1px solid #CCCCCC;
	border-top-left-radius: 2rem; /*20px*/
	border-bottom-left-radius: 2rem; /*20px*/
}

.menu-center a {
	width: 5.7rem; /*57px*/
	height: 4rem; /*40px*/

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
	border-top-right-radius: 2rem; /*20px*/
	border-bottom-right-radius: 2rem; /*20px*/
}

.menu-right {
	width: 13rem; /*130px*/
	height: 3.4rem; /*34px*/

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.avatar {
	width: 3.4rem; /*34px*/
	height: 3.4rem; /*34px*/

	border-radius: 50%;
}

/* Main Content*/
.content {
	display: flex;
	flex-direction: row;

	column-gap: 2.5rem; /*25px*/
	margin: 8.4rem 0 1rem 10rem;
}

.content-video {
	width: 55vw;
	height: auto;
}

.content-video iframe {
	width: 100%;
	height: 53.7rem; /*537px*/
	margin-bottom: 1.6rem; /*16px*/
}

.content-video h1 {
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 2rem; /*20px*/
	line-height: 2.3rem; /*23px*/
}

.content-video-icons {
	width: 90%;
	height: 4.2rem;
	margin: 1.6rem 0;
	font-family: 'Roboto';

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.info-subscribe {
	font-family: 'Roboto';
	line-height: 1.6rem;
	font-size: 1.4rem;
}

.info-subscribe p {
	font-weight: 400;
	color: #8b8a8a;
}
.content-video-icons button {
	width: 15.9rem;
	height: 4rem;

	color: #FFFFFF;
	background-color: #CC0000;
	border: none;
	border-radius: 2px 
}

.content-video-icons button:hover {
	opacity: 0.5;
	cursor: pointer;
}

.thumbs-up, .thumbs-down, .share, .download {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	height: 2.4rem;

	font-family: 'Roboto';
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.thumbs-up, .thumbs-down, .share, .download:hover {
	cursor: pointer;
}

.content-video-text {
	width: 100%;
	padding: 1rem;
	font-family: 'Roboto';
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	color: #515151;

	background-color: #FFFFFF;
	border-radius: 1.5rem;
}

.content-sidebar {
	width: 30vw;
	height: auto;

	display: flex;
	flex-direction: column;
}

.content-sidebar-video {
	margin-bottom: 1.6rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.thumb-video {
	width: 50%;
	height: 11rem;
}

.thumb-info {
	width: 50%;
	height: 11rem;
}

.thumb-video img{
	width: 100%;
	height: 11rem;

	object-fit: contain;
}

.thumb-info h3 {
	font-family: 'Roboto';
	font-weight: 600;
	margin-bottom: 1rem;

	color: #000000;
} 

.thumb-info p {
	font-family: 'Roboto';
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.8rem;

	color: #515151;
}

footer {
	position: relative;
	width: 100vw;
	height: 2.5rem;
	margin-top: 4rem;
	overflow: hidden;

	font-family: 'Roboto';
	font-size: 1.5rem;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #33A8DB;
	font-weight: 900;
}