code {
    background-color: lightgray;
}

body {
    font-family: Arial, sans-serif;
}

form label, form button {
    display: block;
    margin-top: 12px;
}

input {
    padding: 4px 14px;
    margin-top: 8px;
}

form {
    border: 1px solid grey;
    border-radius: 4px;
    width: 300px;
    padding: 40px;
    margin: auto;
    background-color: rgb(247,247,247);
}

form h3 {
    margin: 0;
}

input:-webkit-autofill {
    border: 2px solid red;
    color: red;
}