body {
    font-family: Arial, sans-serif;
}

code {
    background-color: lightgray;
}

div {
    height: 20px;
    background-color: palegreen;
}

#elemento-content::before {
    content: "!!!!!!!!!";
}

div:empty {
    border: 2px solid deeppink;
}