code {
    background-color: lightgray;
}

label, button {
    display: block;
    margin: 12px;
    font-size: 1.5rem;
}

input, select {
    font-size: 1.5rem;
}

input:focus {
    outline: 2px dashed blue;
}

select:focus {
    background-color: yellow;
}

button:focus {
    outline: 2px solid red;
    outline-offset: 2px;
    background-color: palevioletred;
    color: aliceblue;
}

label:focus-within {
    font-weight: bold;
    color: red;
}