body {
    font-family: Arial, sans-serif;
}

code {
    background-color: lightgray;
}

/*.post h2,
.post li,
.post .red {
    color: red;
}*/

.post :is(h2, li, .red){
    color: blue;
}

/*section p,
article p,
aside p,
nav p {
    background-color: palevioletred;
    font-weight: bold;
}*/

:is(section, article, aside, nav) p {
    background-color: palegoldenrod;
    font-weight: bold;
}