body {
    font-family: Arial, sans-serif;
}

code {
    background-color: lightgray;
}

.post :not(.irrelevante){
    color: red;
}

li:not(:first-child, :last-child){
    font-weight: bold;
}

img:not([alt]){
    border: 3px solid red;
}