body {
    font-family: Arial, sans-serif;
}

code {
    background-color: lightgray;
}

li:nth-last-child(2){
    font-weight: bold;
    color: purple;
}

li:nth-last-child(3n+1){
    font-weight: bold;
    color: powderblue;
}

dt {
    font-weight: bold;
    margin: 3px 0;
}

dd:nth-last-of-type(3n){
    color: red;
}