code {
    background-color: lightgray;
}

body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}

th, td {
    padding: 1rem;
}

td + td,
th + th {
    text-align: right;
}

/* Exemplos */

article p:nth-child(3){
    color: red;
    font-weight: bold;
}

article .exemplo:nth-child(1){
    color: green;
    font-weight: bold;
}

article p:nth-of-type(1){
    color: gold;
    font-weight: bold; 
}

article div:nth-of-type(1){
    color: orange;
    font-weight: bold;
}

/* Listas */

li:nth-child(3){
    color: red;
    font-weight: bold;
}

.lista-1 li:nth-child(2){
    color: blue;
    font-weight: bold;
}

.lista-2 li:nth-child(even){
    color: orange;
    font-weight: bold;
}

.lista-1 li:nth-child(odd){
    color: orange;
    font-weight: bold;
}

.lista-3 li:nth-child(3n){
    background-color: aquamarine;
}

.lista-4 li:nth-child(3n+1){
    background-color: aquamarine;
}

/* Tabela */

tr:nth-child(even) td {
    background-color: lightblue;
}

tr:nth-child(odd) td {
    background-color: lightgoldenrodyellow;
}