code {
    background-color: lightgray;
}

body {
    font-family: Arial, sans-serif;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

form label, form button {
    display: block;
    margin-top: 12px;
}

input {
    padding: 4px 14px;
    margin-top: 8px;
}

form {
    border: 1px solid grey;
    border-radius: 4px;
    width: 300px;
    padding: 40px;
    margin: auto;
    background-color: rgb(247,247,247);
}

form h3 {
    margin: 0;
}

input:valid {
    border: 2px solid lightgreen;
    color: green;
    font-weight: bold;
}

input:invalid {
    border: 2px solid red;
    color: red;
}

input:out-of-range {
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.error {
    margin-top: 4px;
    color: orangered;
    font-size: 0.75rem;
    display: none;
}

input:invalid + .error {
    display: block;
}

input:required {
    border-color: purple;
}

input:optional {
    border-color: blue;
}