body {
    font-family: Arial, sans-serif;
}

code {
    background-color: lightgray;
}

section p,
article p,
aside p,
nav p {
    background-color: palegreen;
    font-weight: bold;
}

:where(section, article, aside, nav) p {
    background-color: palegoldenrod;
    font-weight: bold;
}

