@import url(./global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    max-width: 1920px;
    background: #000000;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 605px;
    position: relative;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    background-image: url(../imagem/banner.png);
    display: flex;
    justify-content: center;
    color: #33A8DB;
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    position: absolute;
    width: 510px;
    height: 393px;
    top: 56px;
}

.banner-content h1 {
    width: 434px;
    height: 47px;

    font-family: Raleway;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    width: 510px;
    height: 46px;

    font-family: Raleway;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    color: #FFFFFF;
}

.banner-content button {
    width: 326px;
    height: 57px;
    padding: 19px;
    gap: 31px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #3BA1CD;
    background: none;
    transition: 0.8s;

    font-family: Raleway;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.21em;
    color: #31A8DD;
    text-align: center;
    text-transform: uppercase;
}

.banner-content button:hover {
    background: #31A8DD;
    color: #FFFFFF;
    cursor: pointer;
}

.logo {
    width: 268px;
    height: 268px;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}

/* CSS - Section-01*/

.course-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    width: 792px;
    height: 325px;
    margin: 118px auto 90px;
}

.course-content h2 {
    font-family: Raleway;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.19em;
    font-weight: 700;
    color: #33A8DB;
    text-transform: uppercase;
}

.course-content p {
    font-family: Raleway;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;

    width: 792px;
    height: 38px;
}

.module {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    gap: 10px;

    width: 535px;
    height: 51px;

    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;

    font-family: Raleway;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #FFFFFF;

    transition: .5s;
}

.module:hover {
    box-shadow: 0px 2px 15px 3px #33A8DB;
}

.module span {
    color: #33A8DB;
}

/* Section transform-word*/
#transform-world {
    position: relative;
    height: 363px;
    border: 1px solid #33A8DB;

    display: flex;
    align-items: center;

    background-image: url(../imagem/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
}

#transform-world  p {
    position: absolute;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    line-height: 2.9rem;
    color: #FFFFFF;
    text-shadow: 3px 2px 0px #33A8DB;

    width: 244px;
    height: 141px;
    left: 198px;
}

/* Section professional Challenges*/

#professional-challenges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#professional-challenges h2 {
    position: relative;
    width: 846px;
    height: 76px;
    margin: 76px auto 32px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    letter-spacing: 0.19em;
    text-transform: uppercase;

    color: #33A8DB;
}

#professional-challenges p {
    position: relative;
    width: 792px;
    height: 76px;
    margin: 40px auto 91px;

    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;

    color: #FFFFFF;
}

/* Footer */
footer {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    border-top: 1px solid #33A8DB;
}

footer p {
    font-family: Raleway;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14.82px;
}

footer a {
    color: #33A8DB;
    font-weight: 700;
    text-decoration: none;
}