@import url(./vars.css);
@import url(./global.css);
@import url(./nav.css);
@import url(./footer.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem;
    text-align: center;
}

.button {
    padding: 1rem 2.5rem;

    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);

    background-color: var(--tertiary-color);
    border: none;
    border-radius: 31.25rem;

    cursor: pointer;
}

.text--small {
    font-size: 1rem;
    font-weight: 300;
}