@import url(./vars.css);
@import url(./global.css);
@import url(./nav.css);
@import url(./footer.css);
@import url(./header.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem;
    text-align: center;
}

.button {
    padding: 1rem 2.5rem;

    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);

    background-color: var(--tertiary-color);
    border: none;
    border-radius: 31.25rem;

    cursor: pointer;
}

.button--gradient {
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
}

.button--gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.text--small {
    font-size: 1rem;
    font-weight: 300;
}