@import url(./global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /*10px*/
}

body {
    max-width: 1440px;
    min-width: 360px;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.margin {
    padding: 4rem 0;
    margin: 0 auto;
}

/* Estilização das Fontes */
.content-text h1, .header-content h1 {
    font-family: 'Luckiest Guy';
    font-size: 5.6rem;
    line-height: 5.6rem;
    font-weight: 400;

    text-align: center;
    text-transform: uppercase;
}
.content-text h1, .content-text p {
    color: #23272A;
}
.content-text h2 {
    font-size: 4rem;
    line-height: 5.4rem;
    font-weight: 800;

    color: #23272A;
}
.content-text p, .header-content p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
}
.header-content h1, .header-content p {
    color: #FFFFFF;
}

.header-content h1 {
    width: 313px;
}

.header-content p {
    width: 757px;
    text-align: center;
}

/* Estilização das imagens */
content-img img, footer img {
    max-width: 100%;
}

/* Estilização do Header */
.header-content {
    width: 100%;
    height: 50.5rem;
    padding: 9.4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    background: url(../imagem/Header-Background-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.6rem;
}
.buttons button {
    height: 5.4rem;
    padding: 0 2.4rem;
    border: none;
    border-radius: 2.8rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
}
.buttons button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.btn-01 {
    color: #23272A;
}
.btn-02 {
    color: #FFFFFF;
    background: #23272A;
}

/* Estilização das Sections */
.content-01, .content-02, .content-03 {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-04 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-img {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.content-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#section-02, #section-04 {
    background-color: #F6F6F6;
}




/* Estilização do footer */
footer {
    height: 14rem;
    background: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}