/*
* VARIÁVEIS CSS
* Declaração: --nome-da-variavel
* Referência: var(--nome-da-variavel)
*/
:root {
    --font-size-title: 5rem;
    --font-color-text: #fafafa;
    --text-color: #fc466b;
    --font-size-text: 2rem;
}

.light-theme {
    --bg-body: rgb(247, 247, 247);
    --bg-gradient: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    --box-shadow-default: 3px 3px 10px #3f5efb;
}

.dark-theme {
    --bg-body: rgb(34, 34, 34);
    --bg-gradient: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    --box-shadow-default: 3px 3px 10px #daae51;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-body);
    text-align: center;
}

h1 {
    background: var(--bg-gradient);
    font-size: var(--font-size-title);
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    background: var(--bg-gradient);
    padding: 8px 14px;
    border-radius: 4px;
    color: var(--font-color-text);
    box-shadow: var(--box-shadow-default);
}

p {
    font-size: var(--font-size-text, 1.5rem);
    font-weight: bold;
    color: var(--text-color, blue);
}