h1, h2, b {
	color: red;
}

p {
	color: black;
}

.container {
	background: blueviolet;
	padding: 10px;
	margin-bottom: 20px;
	
	height: 200px;

	/*flex container props*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.item {
	background: yellow;
	width: 100px;
	text-align: center;
	flex-grow: 1;
}

.item-02 {
	flex-basis: 150px
}





