h1, b {
	color: red;
}

.container {
	background: blueviolet;
	padding: 10px;
	margin-bottom: 20px;
	height: 200px;

	/*flex container props*/
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.item {
	padding: 8px;
	background: yellow;
	flex-grow: 1;
}

.item-02 {
	flex-grow: 2;
}

