.container {
	background: blueviolet;
	padding: 20px;

	display: flex;
}

.item {
	background: orange;
	margin: 10px;
}

#container-01 {
	flex-direction: row;
}

#container-02 {
	flex-direction: column;
	height: 300px
}

#container-01a {
	flex-direction: row-reverse;
}

#container-02a {
	flex-direction: column-reverse;
	height: 300px
}

.wrap {
	flex-wrap: wrap;
	margin: 20px;
	width: 300px;
}

.wrap-reverse {
	flex-wrap: wrap-reverse;
	margin: 20px;
	width: 300px;
}

.flex-flow {
	flex-flow: row wrap;
}

.flex-flow-column {
	flex-flow: column wrap-reverse;
}

/* Justify-content*/
#flex {
	width: 100px;
	height: 100px;
}

#flex-start {
	justify-content: flex-start;
}

#flex-end {
	justify-content: flex-end;
}

#center {
	justify-content: center;
}

#space-between {
	justify-content: space-between;
}

#space-around {
	justify-content: space-around;
}

#space-evenly {
	justify-content: space-evenly;
}

/* align-item */
.align {
	height: 130px;
}
#align {
	height: 40px;
}

#align-flex-start {
	align-items: flex-start;
}

#align-flex-end {
	align-items: flex-end;
}

#align-center {
	align-items: center;
}

#align-stretch {
	align-items: stretch;
}

#align-baseline {
	align-items: baseline;
}

/*align content*/
.content {
	width: 300px;
	height: 200px;
	flex-wrap: wrap;
}

#content {
	width: 70px;
	height: 30px;
}

#content-flex-start {
	align-content: flex-start;
}

#content-flex-end {
	align-content: flex-end;
}

#content-center {
	align-content: center;
}

#content-stretch {
	align-content: stretch;
}

#content-space-between {
	align-content: space-between;
}

#content-space-around {
	align-content: space-around;
}

/* Gap */
.gap-item {
	width: 70px;
	height: 30px;

	background: orange;
}

#exemplo-01 {
	row-gap: 10px;
	column-gap: 20px;
}

#exemplo-02 {
	gap: 20px 30px;
}

/* Order */
.container-order {
	width: 400px;
	padding: 10px;
	display: flex;
	margin-bottom: 20px;
	gap: 10px;

	background-color: blueviolet;
}

.order-item {
	background-color: yellow;
	padding: 8px;
}

#order-01 {
	flex-flow: row wrap;
}

#order-02 {
	flex-flow: column wrap;
}

.box-04 {
	order: -1;
}

.box-09 {
	order: -2;
}

