body {
    margin: 0;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #d53369;
    border-radius: 50%;
    margin: 8px;  
}

.loader:nth-child(1){
    animation: loader .8s ease-in-out alternate infinite;
}

.loader:nth-child(2){
    animation: loader .8s ease-in-out .3s alternate infinite;
}

.loader:nth-child(3){
    animation: loader .8s ease-in-out .6s alternate infinite;
}

@keyframes loader {
    to {
        transform: scale(1.8);
    }
}