body {
    margin: 0;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.5rem;
    background: linear-gradient(90deg, #d53369, #daae51);
    box-shadow: 8px 12px 7px lightgray;
    animation: wiggle 2.2s linear infinite;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}