body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 247, 247);    
}
code {
    background-color: lightgray;
}

.conteiner {
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 300px;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    position: absolute;
    background-color: #6D5624;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem; 
     
    transition: background-color 1s, transform 1s ease-in .5s;
}

.box:hover {
    background-color: #DAAE51;
    transform: rotateX(40deg);
}

/*
    transition: <property> <duration> <timing-function> <delay>;
*/

/*
    ease
    linear
    ease-in
    ease-out
    ease-in-out
    cubic-buzier(n, n, n, n)
*/

.div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.div:hover {
    width: 300px;
}

#div1 {
    transition-timing-function: linear;
}

#div2 {
    transition-timing-function: ease;
}

#div3 {
    transition-timing-function: ease-in;
}

#div4 {
    transition-timing-function: ease-out;
}

#div5 {
    transition-timing-function: ease-in-out;
}